<form class="flex flex-col">
  <mat-form-field class="sm:w-1/2 md:max-w-[200px]" appearance="outline">
    <mat-label>Titulo</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field class="sm:w-full md:max-w-[400px]" appearance="outline">
    <mat-label>Descripción</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-chip-listbox aria-orientation="horizontal">
    @for (dog of tags; track dog) {
      <mat-chip-option selected>{{ dog }}</mat-chip-option>
    }
  </mat-chip-listbox>
</form>
